extends layout

block content
  div.container



    div#game
      table(cellpadding="0", cellspacing="0")
        tr
          td
          td
            #opponent.player-info
              strong ...
              span.status.pull-right
              ul.captured-pieces.inline
          td

        tr
          td
          td
            table#chess-board(cellpadding="0", cellspacing="0")
              tr
                td
                td
                td
                td
                td
                td
                td
                td
              tr
                td
                td
                td
                td
                td
                td
                td
                td
              tr
                td
                td
                td
                td
                td
                td
                td
                td
              tr
                td
                td
                td
                td
                td
                td
                td
                td
              tr
                td
                td
                td
                td
                td
                td
                td
                td
              tr
                td
                td
                td
                td
                td
                td
                td
                td
              tr
                td
                td
                td
                td
                td
                td
                td
                td
              tr
                td
                td
                td
                td
                td
                td
                td
                td
          td

        tr
          td
          td
            #you.player-info
              strong ...
              span.status.pull-right
              ul.captured-pieces.inline
          td


  #game-over.modal.hide.fade
    .modal-body.text-center
      h2
      br
      a(href="/") Continue



  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/client.js")
  script.
    $(document).ready(function() {
      window.Client({
        gameID      : "#{gameID}",
        playerColor : "#{playerColor}",
        playerName  : "#{playerName}"
      });
    });
