extends layout

block content

  nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
    .navbar-header
      a.navbar-brand(href="/") Socket.IO Chess

  div.container

    #messages

    #game

      #title-bar
        button#forfeit.btn.btn-sm.btn-default.pull-right Forfeit
        span Game:&nbsp;
        strong #{gameID}

      #opponent.player-info
        strong ...
        span.status.pull-right
        ul.captured-pieces.list-inline

      table#board
        tr
          td.top-left-corner
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-right-corner
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.bottom-left-corner
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-edge
          td.bottom-right-corner

      #you.player-info
        strong ...
        span.status.pull-right
        ul.captured-pieces.list-inline



    #game-over.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-body.text-center
            h2.alert
          .modal-footer
            a.btn.btn-primary(href="/") Continue

    #pawn-promotion.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-body.text-center
            form
              h3 Promote Pawn
              .btn-group(data-toggle="buttons")
                label.btn.btn-default.knight
                  input(type="radio", name="promotion", value="N")

                label.btn.btn-default.bishop
                  input(type="radio", name="promotion", value="B")

                label.btn.btn-default.rook
                  input(type="radio", name="promotion", value="R")

                label.btn.btn-default.queen.active
                  input(type="radio", name="promotion", value="Q", checked="checked")
          .modal-footer
            button.btn.btn-primary Promote

    #forfeit-game.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-body.text-center
            h2 Forfeit Game?
          .modal-footer
            button#cancel-forfeit.btn.btn-default Cancel
            button#confirm-forfeit.btn.btn-primary Forfeit



  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/client.js")
  script(src="/js/fastclick.js")
  script.
    $(document).ready(function() {
      FastClick.attach(document.body);
      window.Client({
        gameID      : "#{gameID}",
        playerColor : "#{playerColor}",
        playerName  : "#{playerName}"
      });
    });
