extends layout

block content
  div.container
    h1 Chess Web App

    div#game
      table#chess-board(cellpadding="0", cellspacing="0")
        tr
          td
          td
          td
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td
        tr
          td
          td
          td
          td
          td
          td
          td
          td

  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/client.js")
  script(src="/js/ui.js")
  script.
    $(document).ready(function() {
      window.Client.init({
        gameID      : "#{gameID}",
        playerColor : "#{playerColor}",
        playerName  : "#{playerName}"
      });
    });
