extends layout

block content
  div.container
    h1 Chess Web App

    div#game
      table#chess-board(cellpadding="0", cellspacing="0")
        tr
          td#a8.black.rook
          td#b8.black.knight
          td#c8.black.bishop
          td#d8.black.queen
          td#e8.black.king
          td#f8.black.bishop
          td#g8.black.knight
          td#h8.black.rook
        tr
          td#a7.black.pawn
          td#b7.black.pawn
          td#c7.black.pawn
          td#d7.black.pawn
          td#e7.black.pawn
          td#f7.black.pawn
          td#g7.black.pawn
          td#h7.black.pawn
        tr
          td#a6
          td#b6
          td#c6
          td#d6
          td#e6
          td#f6
          td#g6
          td#h6
        tr
          td#a5
          td#b5
          td#c5
          td#d5
          td#e5
          td#f5
          td#g5
          td#h5
        tr
          td#a4
          td#b4
          td#c4
          td#d4
          td#e4
          td#f4
          td#g4
          td#h4
        tr
          td#a3
          td#b3
          td#c3
          td#d3
          td#e3
          td#f3
          td#g3
          td#h3
        tr
          td#a2.white.pawn
          td#b2.white.pawn
          td#c2.white.pawn
          td#d2.white.pawn
          td#e2.white.pawn
          td#f2.white.pawn
          td#g2.white.pawn
          td#h2.white.pawn
        tr
          td#a1.white.rook
          td#b1.white.knight
          td#c1.white.bishop
          td#d1.white.queen
          td#e1.white.king
          td#f1.white.bishop
          td#g1.white.knight
          td#h1.white.rook

  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect('http://localhost');

    var gameInfo = {
      gameID      : "#{gameID}",
      playerColor : "#{playerColor}",
      playerName  : "#{playerName}"
    };

    socket.emit('join', gameInfo);



