extends layout

block content

  #banner.jumbotron
    .container
      h1 Socket.IO Chess
      p.
        A real-time multi-player chess app using
        <a href="http://nodejs.org">Node.js</a>,
        <a href="http://expressjs.com">Express</a>, and of course
        <a href="http://socket.io">Socket.IO</a>.

      p.
        <a class="btn btn-primary" href="https://github.com/thebinarypenguin/socket.io-chess">
        View project on GitHub
        </a>

  .container
    .row
      .col-sm-6
        h2 Start a New Game
        form#startForm(action="/start", method="POST", role="form")
          .form-group
            label Play as
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default.active
                  input(type="radio", name="player-color", value="white", checked="checked")
                  | White
                label.btn.btn-default
                  input(type="radio", name="player-color", value="black")
                  | Black
          .form-group
            label(for="playerName") Name
            input#playerName.form-control(type="text", name="player-name", placeholder="Player 1")
          button.btn.btn-primary(type="submit") Start Game
      .col-sm-6
        h2 Join an Existing Game
        form#joinForm(action="/join", method="POST", role="form")
          .form-group
            label(for="gameID") Game ID
            input#gameID.form-control(type="text", name="game-id")
          .form-group
            label(for="playerName") Name
            input#playerName.form-control(type="text", name="player-name", placeholder="Player 2")
          button.btn.btn-primary(type="submit") Join Game

  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")