!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Socket.IO Chess
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="A real-time multi-player chess app using node, express, and of course socket.io.")
    meta(name="author", content="Ethan Zimmerman aka TheBinaryPenguin")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/styles.css", rel="stylesheet")
  body
    block content

