/**
 * Adapted from Seth Aldridge's "CSS3 Chess Board"
 * http://designindevelopment.com/css/css3-chess-board/
 */

#chess-board { border: 5px solid #333; }

#chess-board td {
  width:  50px;
  height: 50px;
  line-height: 45px;
  font-size: 45px;
  text-align: center;
  vertical-align: middle;
}

#chess-board td {
  background:#fff;
  background:-moz-linear-gradient(top, #fff, #eee);
  background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
  box-shadow:inset 0 0 0 1px #fff;
  -moz-box-shadow:inset 0 0 0 1px #fff;
  -webkit-box-shadow:inset 0 0 0 1px #fff;
}

#chess-board tr:nth-child(odd) td:nth-child(even),
#chess-board tr:nth-child(even) td:nth-child(odd) {
  background:#ccc;
  background:-moz-linear-gradient(top, #ccc, #eee);
  background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
  box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
  -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}

.black.pawn:before    { content: "\265F"; }
.black.rook:before    { content: "\265C"; }
.black.knight:before  { content: "\265E"; }
.black.bishop:before  { content: "\265D"; }
.black.queen:before   { content: "\265B"; }
.black.king:before    { content: "\265A"; }
.white.pawn:before    { content: "\2659"; }
.white.rook:before    { content: "\2656"; }
.white.knight:before  { content: "\2658"; }
.white.bishop:before  { content: "\2657"; }
.white.queen:before   { content: "\2655"; }
.white.king:before    { content: "\2654"; }

.selected             { color: #049cdb; }
.not-moved            { /* just a reminder */ }
.valid-move:before    { color: #46a546; content: "\26AB"; }
.valid-capture:before { color: #46a546; }

.valid-en-passant-capture { /* just a reminder */ }
.valid-kingside-castle    { /* just a reminder */ }
.valid-queenside-castle   { /* just a reminder */ }




